Source: gxde-file-manager-neo
Section: libdevel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends:
 debhelper (>=9),
 pkg-config,
 qmake6,
 qt6-base-dev,
 qt6-base-private-dev,
 qt6-multimedia-dev,
 qt6-svg-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 qt6-declarative-dev,
 qt6-5compat-dev,
 libjemalloc-dev,
 libgsettings-qt6-dev,
 libmagic-dev,
 libsecret-1-dev,
 libpoppler-cpp-dev,
 libpolkit-qt6-1-dev,
 libffmpegthumbnailer-dev,
 libtag1-dev,
 libdtk2widget6-dev,
 libdtk6core-dev,
 libdtk6core-bin,
 libxcb1-dev,
 x11proto-core-dev,
 libx11-dev,
 libglib2.0-dev,
 gxde-dock-dev(>=4.8.4.1),
 libxcb-ewmh-dev,
 libxcb-shape0-dev,
 libgxframeworkdbus-dev,
 libdframeworkdbus-qt6-dev,
 libxcb-util0-dev,
 deepin-gettext-tools,
 libkf6codecs-dev,
# deepin-anything-dev,
# deepin-anything-server-dev,
 libudisks2-qt6-dev,
 libxrender-dev,
 libmtdev-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libegl1-mesa-dev,
 libdisomaster-qt6-dev,
 libwebp-dev,
 libgxmr-qt6-dev,
 qt6-scxml-dev,
 liblayershellqtinterface-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: gxde-file-manager-neo
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libgxde-file-manager-neo( =${binary:Version}),
 socat,
 libdtk2widget6,
 libdtk6core,
 libdisomaster-qt6,
 libisoburn1,
 gxde-compressor,
Provides:
 dde-file-manager,
 gxde-file-manager
Replaces:
 dde-file-manager,
 gxde-file-manager
Conflicts:
 dde-file-manager(>> 5.0.1-1),
 gxde-file-manager
Breaks:
 deepin-menu (<< 2:6.0.0),
Recommends: dde-qt6integration, avfs, gxde-file-manager-integration
Description: File manager front end
 File manager front-end of Deepin OS

Package: gxde-desktop-panel-neo
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libgxde-file-manager-neo( =${binary:Version}),
 gxde-daemon,
 libdframeworkdbus-qt6,
 liblayershellqtinterface6,
Conflicts: dde-workspace (<< 2.90.5), dde-desktop (>> 5.0.1-1), gxde-desktop-panel
Provides: dde-desktop, gxde-desktop-panel
Replaces: dde-desktop, gxde-desktop-panel
Recommends:
 deepin-screensaver,
 fantascene-dynamic-wallpaper,
 gxde-requ
Description: deepin desktop-environment - desktop module
 Deepin Desktop Environment (DDE) - desktop module.

Package: gxde-disk-mount-plugin-neo
Architecture: any
Provides: dde-disk-mount-plugin, gxde-disk-mount-plugin
Conflicts: dde-disk-mount-plugin (>> 5.0.1-1), gxde-disk-mount-plugin
Replaces: dde-disk-mount-plugin, gxde-disk-mount-plugin
Depends: ${shlibs:Depends}, ${misc:Depends}, libgxde-file-manager-neo( =${binary:Version})
Description: plugin of gxde-dock
 Disk mount plugin of gxde-dock which is created by libgxde-file-manager

Package: libgxde-file-manager-neo
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libpoppler-cpp0v5 | libpoppler-cpp1 | libpoppler-cpp2,
 gvfs-backends(>=1.27.3),
 cryptsetup,
 libkf6codecs6,
 libgxmr-qt6,
# deepin-anything-libs
Breaks: gxde-file-manager-neo(<=1.2.3-3)
Replaces: libdde-file-manager, libgxde-file-manager
Conflicts: libdde-file-manager (>> 5.0.1-1), libgxde-file-manager
Provides: libdde-file-manager, libgxde-file-manager
Multi-Arch: same
Description: DDE File Manager library
 This package contains the shared libraries.

Package: libgxde-file-manager-neo-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgxde-file-manager-neo( =${binary:Version})
Replaces: libdde-file-manager-dev, libgxde-file-manager-dev
Conflicts: libdde-file-manager-dev (>> 5.0.1-1), libgxde-file-manager-dev
Provides: libdde-file-manager-dev, libgxde-file-manager-dev
Description: DDE File Manager Devel library
 This package contains the header files and static libraries
 of libgxde-file-manager
